/* 모든 페이지에 들어가는 영역 */
main {
    padding: 20px;
}

/* 헤더 */
.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    border: 1px solid rosybrown; /* 임시코드 */
}
.page-header img {
    height: 60px;
}
/* 헤더 내 유저 정보 & 로그인 버튼 */
.user-container {
    position: absolute;
    top: 40px;
    right: 20px;
    display: flex;
    padding: 10px;
    gap: 30px;
}
.user-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.user-name strong {
    font-weight: bold;
}
.user-name {
}
.user-point {
}
.login-btn {
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}