/* 나의 서재 타이틀 */
.my-library-title {
	margin-top: 40px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

.my-library-description {
	margin: 10px;
	text-align: center;
	color: #636363;
}

/* 도서 리스트 */
.book-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin: 0 auto;
}

/* 개별 도서 속성 */
.book-container {
	display: flex;
	flex-direction: column;
	width: 200px;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	padding: 10px;
	background-color: #faf7f7;
}

.purchase-date {
	align-self: flex-end;
	color: #636363;
	font-size: 14px;
}

.book-image {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.book-image > img {
	height: 200px;
}

.title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

.author {
	font-size: 20px;
	text-align: center;
	color: #636363;
}

/* 클릭 버튼 (상세보기, 장바구니) */
.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.detail-btn button {
	padding: 10px;
	background-color: #fff;
	color: #0075ff;
	border: 1px solid #0075ff;
	cursor: pointer;
	border-radius: 5px;
	box-sizing: border-box;
}

.detail-view-link {
	display: inline-block;
	padding: 10px;
	background-color: #fff;
	color: #000;
	border: 1px solid #007bff;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
}
.detail-view-link:hover {
	background-color: #007bff;
	color: #fff;
}

.cart-btn {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.cart-btn button {
	padding: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.cart-btn button.disabled {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
}
