@charset "EUC-KR";

/* 장바구니 타이틀 */
.purchase-title {
	padding: 20px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

.purchase-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	padding: 20px;
}

/* 장바구니 목록 */
.purchase-list-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.purchase-list {
	display: flex;
	width: 500px;
	height: 100px;
	padding: 20px;
	gap: 20px;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.book-img > img {
	height: 100px;
}

.book-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.delete-item {
	position: absolute;
	right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 40%;
}
.delete-item-btn {
	padding: 5px 10px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #007bff;
	color: #000;
	border-radius: 6px;
}

/* 총 금액 및 선택된 항목 목록 */
.total-price-container {
	padding: 20px;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	font-weight: bold;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.total-price-title {
	font-size: 20px;
}

.total-price-title > span {
	color: red;
}

.selected-items-container {
	margin-top: 20px;
}

.selected-items-container h4 {
	margin-bottom: 10px;
	font-size: 20px;
}

.selected-items-container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.selected-items-container li {
	margin-bottom: 5px;
	font-size: 16px;
}


/* 결제하기 버튼 */
.go-to-payment {
	text-align: center; 
	width: 260px;
	margin-right: 20px;
}

.go-to-payment a {
	width: 100%;
	padding: 10px 20px;
	border: 2px solid #007bff;
	color: #000;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
}

.go-to-payment a:hover {
	background-color: #007bff;
	color: #fff;
}
