.book-detail-container {
	padding: 40px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

.book-container {
	display: flex;
	flex-direction: row;
	padding: 20px 40px;
	gap: 20px;
}

.book-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.book-image > img {
	max-width: 150px;
	max-height: 260px;
}

/* 타이틀, 저자, 출판사, 가격 정보 */
.book-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.book-title {
	font-size: 20px;
	font-weight: bold;
}

.book-author {
	color: #636363;
}

.book-description {
	padding: 20px 40px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.6;
}

/* button */
.add-to-cart-button {
	display: flex;
	padding: 10px 20px;
	border: 2px solid #007bff;
	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.add-to-cart-button:hover {
	background-color: #007bff;
	color: #fff;
}

.shopping-cart-icon {
	height: 14px;
	margin-right: 6px;
}