@charset "EUC-KR";

body {
	display: flex;
	flex-direction: column;
}

/* 장바구니 타이틀 */
.shopping-cart-title {
	padding: 20px;
	margin-top: 20px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

.shopping-cart-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	padding: 20px;
}

/* 장바구니 목록 */
.cart-list-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cart-list {
	display: flex;
	width: 500px;
	height: 100px;
	padding: 20px;
	gap: 20px;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	position: relative;
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.book-img > img {
	height: 100px;
}

.book-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.delete-item {
	position: absolute;
	right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 40%;
}
.delete-item > button {
	padding: 5px 10px;
	cursor: pointer;
	color: #0075ff;
	background-color: #fff ;
	border-radius: 6px;
	border: 1px solid #0075ff;
}

/* 총 금액 및 선택된 항목 목록 */
.total-price-container {
	padding: 20px;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	font-weight: bold;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.total-price-title {
	font-size: 18px;
	font-weight: bold;
}

.total-price-title > span {
	color: red;
}

.selected-items-container {
	
}

.selected-items-container h4 {
	margin: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;
}

.selected-items-container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.selected-items-container li {
	margin-bottom: 5px;
	font-size: 16px;
}

/* 결제하러 가기 버튼 */
.go-to-payment {
	margin-top: auto; /* 버튼을 컨테이너 맨 아래로 위치시킴 */
	text-align: center;
	padding: 10px 20px;
	background-color: #0075ff;
	border-radius: 6px;
	border: 0;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}


.go-to-payment:hover {
	background-color: #0056b3;
}

.go-to-payment > a {
	color: #fff;
	text-decoration: none;
	
}